fastapi==0.111.*
uvicorn[standard]==0.30.*
gunicorn==22.*
numpy
pandas
requests
python-dateutil
torch==2.3.1+cpu
torchvision==0.18.1+cpu
torchaudio==2.3.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
